* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --bg-color: #a7a7a7;
    --secondary-color: #2ecc71;
    --font-family: 'Arial, sans-serif';
    --text-color: #ffffff;
    --secondary-bg-color: #000000;
    --bg-color-two: #3c3c3c;
}

html, body {
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--bg-color-two);
    color: var(--text-color);
}

h1 {
    padding: 1rem;
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    background-color: var(--secondary-bg-color);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50rem 50fr;
}

main{
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--bg-color);
    padding: 1rem;
}
aside {
    grid-area: 1 / 2 / 3 / 3;
    padding: 2rem;
}

footer {
    background-color: var(--bg-color-two);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    height: 100%;
}