/* RESET & VARIABLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --blue-light: #cce4ff93;
    --blue: #3399ff;
    --blue-purple: #3c007b;
    --text-color: #ffffff;
    --background-color: #ffffff;
    --black-text: #000000;
}

/* BODY */
body {
    background-color: var(--background-color);
    color: var(--black-text);
    min-width: 530px;
    line-height: 1.5;
}

/* HEADER */
header {
    position: relative;
    background-color: var(--blue-purple);
    color: var(--text-color);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
}

#menu {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1000;
}

#menu:focus {
    outline: none;
}

/* NAVIGATION */

.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-purple);
    overflow: hidden;
    max-height: 0;
    padding: 0.5rem 0;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
}

.navigation li a:hover {
    background-color: #ffffff33;
    border-radius: 4px;
}

.navigation.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0rem;
    max-height: 500px;
    transition: max-height 0.5s ease-in;
    width: 100%;
}


/* GALLERY */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--blue-light);
}

.gallery {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

h2 {
    margin: 1rem 0;
    text-align: center;
}

p {
    margin-bottom: 0.5rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}

img {
    border-radius: 8px;
    box-shadow: #00000033 0px 4px 8px;
    transition: 1s;
    padding: 1rem;
}

img:hover {
    transform: scale(1.05);
    box-shadow: #00000066 0px 8px 16px;
}

/* FOOTER */
footer {
    background-color: var(--blue-purple);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
