* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --blue-light: #cce4ff;
    --blue: #3399ff;
    --blue-purple: #3c007b;
    --text-color: #ffffff;
    --background-color: #ffffff;
    --black-text: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--black-text);
    min-width: 320px;
    line-height: 1.5;
}

/* HEADER */
header {
    background-color: var(--blue-purple);
    color: var(--text-color);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HAMBURGER */
#menu::before {
    content: "≡";
    font-size: 3rem;
    cursor: pointer;
}

#menu.show-x::before {
    content: "";
}

#menu.show-x::after {
    content: "X";
    font-size: 3rem;
}

/* NAV */
nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: var(--blue-purple);
    width: 100%;
    padding: 1rem;
}

.navigation.show {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* GALLERY */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* FOOTER */
footer {
    background-color: var(--blue-purple);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}