/* LARGE SCREENS */
@media (min-width: 600px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    header h1 {
        justify-content: center;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around;
        padding: 0;
        width: auto;
    }

    #menu {
        display: none;
    }
}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}